@model SchoolDomains.Locality

@{
    ViewBag.Title = "Удаление районов";
}

<h2>Удаление районов</h2>

<h3 class="delete-warning">Внимание Вы также удалите все записи с которыми связан данный район!!!!</h3>
<h3>Вы действительно хотите это удалить?</h3>
<fieldset>
    <legend>Район</legend>

    <div class="display-label">
         Район
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
        @Html.DisplayFor(model => model.ShName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Назад к списку районов", "ViewLocality")
    </p>
}
