@model SchoolDomains.SchoolType

@{
    ViewBag.Title = "Удаление типов школы";
}

<h2>Удаление типов школы</h2>

<h3 class="delete-warning">Внимание Вы также удалите все записи с которыми связан данный тип школы!!!!</h3>
<h3>Вы действительно хотите это удалить?</h3>
<fieldset>
    <legend>Тип школы</legend>

    <div class="display-label">
         Тип школы
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Назад к списку типов школ", "ViewSchoolType")
    </p>
}
