@model SchoolDomains.StudyForm

@{
    ViewBag.Title = "Удаление формы обучения";
}

<h2>Удаление формы обучения</h2>

<h3 class="delete-warning">Внимание Вы также удалите все записи с которыми связана данная форма обучения!!!!</h3>
<h3>Вы действительно хотите это удалить?</h3>
<fieldset>
    <legend>Форма обучения</legend>

    <div class="display-label">
         Форма обучения
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Назад к списку форм обучения", "ViewStudyForm")
    </p>
}
