@{
    ViewBag.Title = "О проекте";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>
    <p>
        "Школьный портал" - единая информационная система учета и мониторинга образовательных достижений обучающихся образовательных организаций города Перми!
    </p>
</article>