@{
    ViewBag.Title = "Контакты";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Телефон</h3>
    </header>
    <p>
        <span class="label">Секретарь:</span>
        <span>+7(342)233-57-37</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Отдел разработки:</span>
        <span><a href="mailto:developer@permedu.ru">developer@permedu.ru</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Адрес</h3>
    </header>
    <p>
        г.Пермь, ул. Луначарского, д. 42
    </p>
</section>